/* цвет текста 
        #212121
         #757575
          #FFFFFF
          #2196F3 */
          /* футер бекграунд #2F303A */
    
:root {
    --primary-text-color: #757575 ;
    --title-text-color : #212121;
    --accent-color :  #2196F3;
    --primery-white-color :  #FFFFFF;
    --primery-bg-color : #2F303A;
    --address-color: rgba(255, 255, 255, 0.6);
}
body {  
    font-family: 'Roboto',;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primery-white-color );
    color: var(--primary-text-color);
    }

    .list {
        text-decoration: none;
        list-style: none;
    }

    .text{
        font-size: 14px;
        line-height: 1.5;
        color: var(--primary-text-color);
    }

    .logo{ 
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .logo .web,
    .foot .web{
        color: var(--accent-color) ;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .logo .studio{
        color:  var(--title-text-color);
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .studio-foot{
        color: var(--primery-white-color);
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }
    
    /* site navigation */

    .site-nav {
        color: var(--title-text-color);
    }
    .site-nav .link .list.current{
        color: var(--accent-color);
    }
    .address .link{
        color: var(--primary-text-color);
    }

    .site-nav .link :hover,
    .site-nav .link :focus{
        color: var(--accent-color);
    }

    .address .link :hover,
    .address .link :focus{
        color: var(--accent-color);
    }
    .contacts{
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .menu{
        font-size: 14px;
        line-height: 1.14;
        color: var(--title-text-color );
    }

     /* buttons */

    .hiro-btn{
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--primery-white-color);
        background-color: var(--accent-color)
    }

    .btn{
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.87; 
    }
    .button :hover,
    .button :focus{
        color: var(--primery-white-color);
        background-color: var(--accent-color)
    }

     /* projects */

    .hiro{
         background-color:var(--primery-bg-color) ;
    }
    .spacing{
        letter-spacing: 0.06em;
    }

     .hiro-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color : var(--primery-white-color);
    }

    .list .text-title {
        font-size: 18px;
        line-height: 2;
        color: var(--title-text-color );  
    }

    .section-title {
        font-size: 36px;
        line-height: 1.16;
        color: var(--title-text-color);
    }

    .projects{
         background-color: var(--primery-white-color);
    }

    .foot{
         background-color: var(--primery-bg-color);
    }

    .foot .address{
        line-height: 1.71;
    }

    .address .place{
        color: var(--primery-white-color);
    }
    .contact {
        color: var(--address-color);
    }
